# Efficient Python Codes

In this lecture we will study ways to

## Timing and profiling code

progress bar:

In [1]:
from time import sleep

from tqdm import tqdm, trange, tqdm_notebook

In [2]:
for i in tqdm(range(10)):
    
    sleep(.1)

100%|██████████| 10/10 [00:01<00:00,  9.84it/s]

In [3]:
def generator():
    
    for i in range(10):
        
        yield i

In [4]:
for i in tqdm(generator()):
    
    sleep(.1)

10it [00:01,  9.85it/s]

In [5]:
for i in tqdm(generator(), total=10):
    
    sleep(.1)

100%|██████████| 10/10 [00:01<00:00,  9.84it/s]

In [6]:
for i in trange(10):
    
    sleep(.1)

100%|██████████| 10/10 [00:01<00:00,  9.81it/s]

In [7]:
for i in tqdm_notebook(range(10)):
    
    sleep(.1)

HBox(children=(IntProgress(value=0, max=10), HTML(value='')))

In [8]:
import pandas as pd

In [9]:
tqdm.pandas()

/home/marcelo/miniconda3/lib/python3.7/site-packages/tqdm/std.py:648: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  from pandas import Panel

In [10]:
amazon_fires = pd.read_csv('data/amazon.csv', encoding='latin1')

In [11]:
amazon_fires.head()

    Ano Estado      Mês  Número     Período
0  1998   Acre  Janeiro     0.0  01-01-1998
1  1999   Acre  Janeiro     0.0  01-01-1999
2  2000   Acre  Janeiro     0.0  01-01-2000
3  2001   Acre  Janeiro     0.0  01-01-2001
4  2002   Acre  Janeiro     0.0  01-01-2002

In [12]:
amazon_fires.progress_apply(lambda x: '{} {}'.format(x['Estado'], x['Mês']), axis='columns')

100%|██████████| 6454/6454 [00:00<00:00, 14350.26it/s]

0             Acre Janeiro
1             Acre Janeiro
2             Acre Janeiro
3             Acre Janeiro
4             Acre Janeiro
               ...
6449    Tocantins Dezembro
6450    Tocantins Dezembro
6451    Tocantins Dezembro
6452    Tocantins Dezembro
6453    Tocantins Dezembro
Length: 6454, dtype: object